/* importation de la police 'Poppins' de Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700;900&display=swap');

html, body{
   font-family: 'Poppins', sans-serif;
}
h3.{
   display: flex;
}
.imag .container{
   width: 100%;
   height: 100%;
   border: radius 1px;
   border-width: 10%;
}



   
