/* importation de la police 'Poppins' de Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700;900&display=swap');

html, body{
   display: flex;
   font-family: "Poppins", sans-serif;
}

nav{
   display: flex;
    width: 40%;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    background: gray;
    border-radius: 2%;
    border: solid chocolate;
    background:white;
}

.logo-container{
   display: flex;
   gap: 2px;
}
ul{
   
    display: flex;
    gap: 5%;
    border-radius: 10%;
    list-style: none;
    color: black;
    flex-wrap: nowrap;
    align-content: flex-end;
    align-items: center;
    justify-content: flex-end
}
.buttons-container div{
   display: flex;
   width: 50%;
   background: blue;
   color:white;
   border-radius:2;
   width: fit-content;
   padding: 2%;
   margin: 0;
   gap: 15px;
   border: 20px solid white;
}
.buttons-container img{
   display: flex,


   

}



   
