/* importation de la police 'Poppins' de Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700;900&display=swap');

body{
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 56px;
   font-family: "Poppins", sans-serif;
}

.article{
   display: flex;
   background: green;
   list-style: none;
   width: 100%;
   align-items: center;
   border-radius: 1px;
   padding: 0;
   margin: 0;
   border: 2px solid red;
}
ul {
   display: flex;
   justify-content: center;
   list-style: none;
   gap: 15px;
   border-radius: 100%;
   align-items: center;
   font-size: 10px;
}
a{
   display: flex;
   text-decoration: none;
   background: blue;
   width: 20%;
   border-radius: 1px;
   border: 2px solid red;
   font-size: 10px;
   gap: 15px; ;
}
photo {
   display: flex;
   width: 10%;
   height: 10%;

}